@model ASP.NET_MVC5_Entity.Models.Aluno

@{
	ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
	<h4>Aluno</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nome)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DtNascimento)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DtNascimento)
		</dd>

		@*<dt>
			@Html.DisplayNameFor(model => model.Idade)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Idade)
		</dd>*@

	</dl>
</div>
<p>
	@Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Retornar à Lista de Alunos", "Create")
</p>
